*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 980px;
    margin: 0 auto;
}
.header-home ul li{
    list-style: none;
    float: left;
}
.header-home ul li a img{
    width: 100px;
}
.header-home ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin:30px;
    display: block;
    
    cursor: pointer;

}
.header-home ul li a:hover{
    color: red;
}
.header-home ul li input{
    margin-top: 27px;
    margin-left: 10px;
}
.header-end{
    border: 1px solid red;
}
.ad img{
    width: 980px;
    height: 230px;
    border: 2px solid red;
    transform: scale(1);
    transition:all 0.5s;
}
.ad img:hover{
    transform: scale(1.1);
}
ul.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
ul.news li{
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
ul.news li .news-hot .news-info a{
    text-decoration: none;
    font-weight: 600;
    padding-top: 5px;
}
ul.news li .news-hot .news-info a:hover{
    color: red;
}
ul.news li .news-hot .news-top a img{
    transform: scale(1);
    transition: all 0.5s;
}
ul.news li .news-hot .news-top a img:hover{
    transform: scale(1.1);
}
footer.end-all{
    background: 980px blueviolet;
}
footer.end-all ul li {
    
    list-style: none;
}
footer.end-all ul li a{
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
    color: black;
    
}
footer.end-all ul li a:hover{
    color:red
}
footer.end-all ul li a i{
    width: 20px;
}